
<div ng-include="'/partials/nav.html'"></div>

<container class="container-fluid">
  <div class="row-fluid">
    <h1>{{home.homeName}}</h1>


    <!-- /////////////////////////  NEW EVENT FORM  ///////////////////////// -->
    <div class="row-fluid">
      <button data-toggle="collapse" data-target="#demo" class="btn btn-info btn-block">Add An Event!</button>
    </div>

    <div id="demo" class="collapse">
      <div class="newHomeTextArea">
        <div class="col-xs-12 col-sm-3 text-center">
          <h3>Add New Event:</h3>  
        </div>

        <div class="col-xs-12 col-sm-9">
          <form ng-submit="addEvent(home._id)">   <!-- from main.js "HomeCtrl" -->       <!-- SHOULD BE EDITHOME()???????????????????????????? -->

            <div class="form-group row">
              <label for="homeEvent-text-input" class="col-xs-3 col-form-label newSubduedText">Add An Event</label>
              <div class="col-xs-9">
                <input class="form-control inputSizing" id="eventName-text-input" type="text" ng-model="eventName" placeholder="Event Name? 'New Roof'"/><br>
                <input class="form-control inputSizing" id="moveIn-date-input"    type="date" ng-model="eventDate" placeholder="Event Date? '11/04/2016'"/><br>
                <input class="form-control inputSizing" id="eventInfo-text-input" type="text" ng-model="eventInfo" placeholder="Additional Info? ''"/>
              </div>
            </div>

            <div class="row">
              <div class="contact-form__submit">
                <div class="col-md-9 col-md-offset-3">
                  <!-- <a href="#/" class="btn btn-danger btn-xs">Cancel</a> -->
                  <input type="submit" value="Submit" class="btn btn-success btn-xs"/>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>  <!-- <div class="newHomeTextArea"> -->
    </div>  <!-- <div id="demo" class="collapse"> -->


      <!-- eventName: $scope.eventName,
      eventDate: $scope.eventDate,
      eventInfo: $scope.eventInfo -->


    <div ng-repeat="event in home.homeEvent">
      <div class="row">
        
        <div class="col-xs-10">
          <h4> {{event.eventName}}</h4>
        </div>

        <div class="col-xs-2">
          <button type="submit" class="btn btn-warning btn-xs removeHomeBtn" > Delete </button> <!-- ng-click="removeHome(home._id)" -->
        </div>

        <div class="row">

          <p class="subduedText">Event Date: </p> <h6> {{event.eventDate}}</h6>
          <p class="subduedText">Wha Happen?: </p> <h6> {{event.eventInfo}}</h6>

        </div>

      </div>
    </div>

  </div>  <!-- <div class="row-fluid"> -->
</container>

