
<h1>Welcome home!</h1>

<ul>
  <li ng-repeat="home in homes">

  <!-- angular card here to capture home -->
    {{home}}                  
  </li>
</ul>

<hr />


<form ng-submit="sendHome()">                             <!-- from main.js "HomeCtrl" -->
  Name your Home <input type="text" ng-model="homeName" placeholder="My First House / 123 Main St."/><br/>
  What sort of Event?<input type="text" ng-model="homeEvent" placeholder="Got new roof"/> 
  <input type="submit"/>
</form>

<a class="btn btn-primary" href="/#/">Back to Main</a>
