<div ng-include="'/partials/nav.html'"></div>
<div class="container">
  <div class="row">

    <div class="text-center loginRegister">

      <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
          <img src="../images/TallyHomeWEBShadow.png" class="img-responsive tallyLogo" alt="TallyHomeLogo">
        </div>
      </div>

      <h1>Until the next event...</h1>
      <hr/>
      <p>We'll keep the light on for you. Get out there and make some memories and keep logging your events and milestones. See you soon!</p>
      <br/>
    </div>

    <div class="col-xs-offset-3 col-xs-6 logoutBox text-center">
      <h3>Logout</h3>
      
      <form method="POST">
        <a href="#/homes" class="btn btn-success btn-lg" role="button">Back To TallyHome</a>
        <!-- <a href="#/homes" class="btn btn-primary btn-lg" role="button">Your Homes</a> -->
        <button type="submit" class="btn btn-danger btn-lg" ng-click="logout()">Log Me Out!</button>
      </form>
      <br/>
    </div>
  </div>
</div>
