<h1>{{title}}</h1>
<h4>A place to Keep track of your home's milestones.</h4>
<hr/>
<p>Get Started!</p>


<div class="container">
  <h1>Logout</h1>
  <hr/>
  <div class="container">
    <p id="ipsum" class="lorem">Until the next event... Goodbye!</p>
    <form method="POST">
      <button href="/" class="btn btn-Primary">Back to Safety!</button>
      <button type="submit" class="btn btn-danger">Logout</button>
    </form>
  </div>
</div>
<a class="btn btn-primary" href="/#/homes">Your Homes</a>
