
<div class="row text-center">
  <h1 style="margin-top: 20px;" >TallyHome</h1>
  <hr>
  <h5>A place to track your home milestones</h5>
  <br/>
  <div class="col-xs-offset-3 col-xs-6">
    <img src="../images/TallyHomeWEBShadow.png" class="img-responsive tallyLogo" alt="TallyHomeLogo">
  </div>
</div>

<div class="jumbotron text-center">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <h1>Get Started!</h1>
      <hr/>
      <br/>
      <p>Track all of the things!</p>
    </div>
  </div>
  <div class="row">
    <div class="btn-group" role="group">
      <a class="btn btn-success btn-lg" href="/#/login" role="button">Login Here</a>
      <a class="btn btn-warning btn-lg" href="/#/register" role="button">Register Here</a>
    </div>
  </div>
</div>
<div class="row text-center subduedTextCopyright">
  © Eric Denton / <a href="https://iamericanartist.github.io/">IAmEricAnArtist</a> / 2016
</div>
