
<div class="container">
  <div class="row">

    <div class="text-center loginRegister">

      <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
          <img src="../images/TallyHomeWEBShadow.png" class="img-responsive tallyLogo" alt="TallyHomeLogo">
        </div>
      </div>

      <h1>Start Your Own Collection!</h1>
      <hr/>
      <p>...of home events and/or life events in your free account! Just set up your account below and we'll keep tabs for you.</p>
      <br/>
    </div>

    <div class="col-xs-offset-3 col-xs-6 registerBox">
      <h3>Register</h3>
      <form ng-submit="registerUser()">     <!-- from main.js "RegisterCtrl" -->
        <div class="form-group">
          <label for="email">Email Address</label>
          <input id="email" type="email" name="email" ng-model="email" placeholder="you@example.com" required class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="password" name="password" ng-model="password" placeholder="Y0uR!p&5Sw*Rd-h3rE" required class="form-control">
        </div>
        <div class="form-group">
          <label for="confirmation">Password confirmation</label>
          <input id="confirmation" type="password" name="confirmation" ng-model="confirmation" placeholder="Y0uR!p&5Sw*Rd-h3rE" required class="form-control">
        </div>
        <div class="contact-form__submit">
          <a href="#/" class="btn btn-danger">Cancel</a>
          <input type="submit" value="Submit" class="btn btn-success">
          <h4 ng-if="statusMessage">{{statusMessage}}</h4>
        </div>
      </form>
    </div>

  </div>
</div>
