html {
  box-sizing: border-box;
  font-family: "Helvetica Neue",Arial,sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body,html {
  height: 100%;
}
/* padding for Fixed Navbar */
body {              
  padding-top: 60px;
}
  
h1 {font-size: 4.5vmax;}
h2 {font-size: 4vmax;}
h3 {font-size: 3.5vmax;}
h4 {font-size: 3vmax;}
h5 {font-size: 2.5vmax;}
h6 {font-size: 2vmax;}
p  {font-size: 1.5vmax;
    line-height: 1.5;
    letter-spacing: .8px;}

hr {
  margin: 0px;
  border-top: 1px dotted rgba(120,120,120,.8);
}

/* BACKGROUND SYLING */
.wide {
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  background-image:url("https://github.com/nss-day-cohort-14/static-web-group-project-dos-teamlunchroom/blob/master/images/wall.jpg?raw=true");
  background-size:cover;
}
.wide img {
  width:100%;
}


.tallyLogo {
  max-width: 90%;
  margin: auto;
 }


/* HOME CARD STYLING */
ul {
  padding: 0px;
}
/* NG-REPEAT CARDS */
.homeTextArea {
    margin: 0.5% 1%;
    padding: 5px 30px;
    height: 250px;
    width: 48%;
    border: 1px solid rgba(120,120,120,.2);
    border-radius: 10px;
    background-color: rgba(230,230,230,.85);
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    list-style-type: none;
}
.subduedText {
  color: #999999;
  margin: 0px -5px -5px;
}

.inputSizing {
  display: block;
  width: 100%;
  height: 25px;
  padding: 10px 10px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.newHomeTextArea {
    margin: 0.5% 1%;
    padding: 2rem;
    min-width: 98%;
    border: 1px solid rgba(120,120,120,.2);
    border-radius: 10px;
    background-color: rgba(226,225,225,.8);
    display: inline-block;
    /*overflow: hidden;*/
    text-decoration: none;
    list-style-type: none;
}
.newSubduedText {
  color: #999999;
}
.subduedTextCopyright {
  margin: 0px;
  letter-spacing: 1.5px;
  color: rgba(50,50,50,.60);
}

/* DEFAULT COLUMN STYLING // BE CAREFUL */
/*[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
  border-radius: 10px;
}*/

.loginRegister{
  margin-top: 30px;
}
.loginBox {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(150, 250, 180, 0.25);
  border: 1px solid rgba(86,61,124,.2);
  border-radius: 10px;
}
.registerBox {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(250, 180, 150, 0.25);
  border: 1px solid rgba(86,61,124,.2);
  border-radius: 10px;
}

.logoutBox {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(200, 180, 180, 0.25);
  border: 1px solid rgba(86,61,124,.2);
  border-radius: 10px;
}
